<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	id="WebApp_ID" 
	version="3.0">
	
	<!-- Index -->
	<servlet>
	    <servlet-name>IndexServlet</servlet-name>
	    <servlet-class>servlets.IndexServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- Connexion -->
	<servlet>
	    <servlet-name>ConnexionServlet</servlet-name>
	    <servlet-class>servlets.ConnexionServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- Déconnexion -->
	<servlet>
	    <servlet-name>DeconnexionServlet</servlet-name>
	    <servlet-class>servlets.DeconnexionServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- Profil -->
	<servlet>
	    <servlet-name>ProfilServlet</servlet-name>
	    <servlet-class>servlets.ProfilServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- Admin -->
	<servlet>
	    <servlet-name>AdminServlet</servlet-name>
	    <servlet-class>servlets.AdminServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- Index -->
	<servlet-mapping>
	    <servlet-name>IndexServlet</servlet-name>
	    <url-pattern>/index</url-pattern>
	</servlet-mapping>
	
	<!-- Connexion -->
	<servlet-mapping>
	    <servlet-name>ConnexionServlet</servlet-name>
	    <url-pattern>/connexion</url-pattern>
	</servlet-mapping>
	
	<!-- Profil -->
	<servlet-mapping>
	    <servlet-name>ProfilServlet</servlet-name>
	    <url-pattern>/profil</url-pattern>
	</servlet-mapping>
	
	<!-- Déconnexion -->
	<servlet-mapping>
	    <servlet-name>DeconnexionServlet</servlet-name>
	    <url-pattern>/deconnexion</url-pattern>
	</servlet-mapping>
	
	<!-- Admin -->
	<servlet-mapping>
	    <servlet-name>AdminServlet</servlet-name>
	    <url-pattern>/admin</url-pattern>
	</servlet-mapping>
</web-app>